.about {
  flex-direction: column;
  margin-top: 3em;
  align-items: center;
  justify-content: center;
}

.about-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name-title {
  text-align: center;
  margin-bottom: 75px;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
  padding: 80px;
  height: 500px;
}

p {
  font-size: 20px;
}

img {
  height: 500px;
  margin: 20px;
  border:2px solid #ffffff;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

.about__name {
  color: rgb(21, 21, 21);
  font-family: "Great Vibes";
  font-size: 70px;
  font-weight: 400;
  width: fit-content;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.about__headline {
  color: rgb(21, 21, 21);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  font-weight: 300;
  width: fit-content;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  -webkit-font-smoothing:antialiased;
}

.about__role {
  font-size: 30px;
}

.about-description {
  margin-top: 50px;
  text-align: center;
}

.about__desc {
  font-size: 1.2rem;
  min-width: 300px;  
  max-width: 500px;
  text-align: center;
}

.about__contact {
  margin-top: 2.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about .link--icon {
  margin-right: 0.8em;
}

.resume-link {
  text-decoration: underline;
}

.resume {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
  .about__name {
    font-size: 60px;
  }
  .about__headline {
    font-size: 23px;
  }
}

@media (max-width: 400px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
  .about__name {
    font-size: 50px;
  }
  .about__headline {
    font-size: 15px;
  }
}